<a href="https://colab.research.google.com/github/johnfrancis-maybe-i-am/python-/blob/main/day_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
list1 = "hellooooo"
list2 = ""

for n in list1:
  if n not in list2:
    list2 = list2 + n

print(list2)
printhello()

helo
hello world da

In [43]:



def printhello(fname,lname):
  print("ur first name : "+fname +" , "+"ur last name : "+lname)
 

printhello("john","francis")

1
2
3
4

In [42]:
def simple(*item):
  for n in item[:2]:
    print("ur iteams are "+n)

simple("apple","bananna","cherry","cherry","cherry","cherry")

ur iteams are apple
ur iteams are bananna